:root {
  --primary-color: #105ec4;
  --primary-color-hover: #0d4fa7;
  --secondary-color: #bad7fd;
  --primary-text-color: #041e41;
  --secondary-text-color: #99a7b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
